nav
{
    display: flex;
    justify-content: center;
    align-items: center;
   gap: 40px;
   width: 100%;
   background-color: aqua;
   height: 50px;
}
nav>a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: black;
}
form{
 display: grid;
   grid-template-rows: 1fr 1fr;
   grid-template-columns: 1fr;
align-items: center;
justify-content: center;
gap: 20px;


}